{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block title %} {{ object.title }} {% endblock %}

{% block content %}
<div class="card">
    <h2 class="card-header p-3 text-center">{{ object.title }}</h2>
    <img src="{{ object.preview | media_filter }}" class="card-img-top" alt="..." style="width:800px; height:800px; margin-left: 248px">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{object.content}}</li>
        {% if "catalog.can_publish_blogarticle" in perms %}
        <li class="list-group-item">Опубликован: {{ object.published|yesno:"Да,Нет" }}</li>
        {% endif %}
        <li class="list-group-item">Дата добавления: {{object.create_at|date:"d M Y"}}</li>
        <li class="list-group-item">Просмотров: {{object.number_views}}</li>
    </ul>
    <a href="{% url 'blog:editing_article' object.pk %}?next={{ request.GET.next }}" class="btn btn-info m-2 text-center" role="button" style="max-width: 255px;">
        Редактировать</a>
    <form action="{% url 'blog:published_article' object.pk %}?next={{ request.GET.next }}" method="post">
    {% csrf_token %}
        <button class="btn btn-outline-success m-2 col-6 text-center" role="button" type="submit" style="max-width: 255px;">
            Опубликовать</button>
    </form>
    <a href="{% url 'blog:deleting_article' object.pk %}?next={{ request.GET.next }}" class="btn btn-danger m-2 text-center" role="button" style="max-width: 255px;">
        Удалить</a>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-outline-secondary m-2 text-center" href="{{ request.GET.next }}" role="button" style="max-width: 255px;">
        <<...Вернуться к списку статей</a>
</div>
{% endblock %}
