{% extends 'blog/base.html' %}
{% load blog_tags %}
{% block title %} {{ object.title }} {% endblock %}

{% block content %}
<div class="card">
    <h2 class="card-header p-3 text-center">{{ object.title }}</h2>
    <img src="{{ object.preview | media_filter }}" class="card-img-top" alt="..." style="width:800px; height:800px; margin-left: 248px">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{object.content}}</li>
        <li class="list-group-item">Дата добавления: {{object.create_at|date:"d M Y"}}</li>
        <li class="list-group-item">Просмотров: {{object.number_views}}</li>
    </ul>
    <a href="{% url 'blog:editing_article' object.pk %}" class="btn btn-info m-2 text-center" role="button" style="max-width: 255px;">
        Редактировать</a>
    <a href="{% url 'blog:deleting_article' object.pk %}" class="btn btn-danger m-2 text-center" role="button" style="max-width: 255px;">
        Удалить</a>
    <a class="btn btn-outline-secondary m-2 text-center" href="{% url 'blog:home' %}" role="button" style="max-width: 255px;">
        <<...Вернуться к списку статей</a>
</div>

{% endblock %}
