<footer class="pt-4 my-md-4 pt-md-5 border-top ps-4">
        <div class="row">
            <div class="col-2 col-md">
                KODI Blog
                <small class="d-block mb-3 text-muted">&copy; 2025</small>
            </div>
            <div class="col-3 ms-1">
                <h5>Категории</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Интересное</a></li>
                    <li><a class="text-muted" href="#">Здоровое питание</a></li>
                    <li><a class="text-muted" href="#">Уход за собой</a></li>
                    <li><a class="text-muted" href="#">Путешествия</a></li>
                    <li><a class="text-muted" href="#">Музыка</a></li>
                </ul>
            </div>
            <div class="col-4 ps-5">
                <h5>Дополнительно</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Я Python-разработчик</a></li>
                </ul>
            </div>
            <div class="col-3">
                <h5>Обо мне</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Контакты</a></li>
                </ul>
            </div>
        </div>
    </footer>
