{% extends 'base.html' %}
{% block content %}
    <div class="row">
        {% for product in five_latest_products_зфк_1 %}
        <div class="col-6" style="padding: 70px; padding-bottom: 0px;">
          <div class="card text-bg-light">
            <h4 class="card-header p-3 text-center">{{product.name_p}}</h4>
            <div class="card-body" style="min-height: 166px">
              <h1 class="text-center">{{product.price_by}}</h1>
              <div class="mb-3" style="min-height: 24px">
                <p class="card-text text-center">
                  {{product.description_p|truncatechars:50}}
                </p>
              </div>
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-primary" disabled>Купить</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        {% for product in five_latest_products_зфк_2 %}
        <div class="col-4" style="padding: 40px; padding-bottom: 0px">
          <div class="card text-bg-light">
             <h4 class="card-header p-3 text-center">{{product.name_p}}</h4>
            <div class="card-body">
              <h1 class="text-center">{{product.price_by}}</h1>
              <div class="mb-3">
                <p class="card-text text-center">
                  {{product.description_p|truncatechars:35}}
                </p>
              </div>
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-primary" disabled>Купить</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
