<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skystore</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">KODI Store</h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="/">Каталог</a>
        <a class="p-2 btn btn-outline-primary" href="/contacts/">Контакты</a>
    </nav>
</div>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">KODI Store</h1>
    <p class="lead">KODI store - это большой выбор продуктов питания.<br>
        Вы любите мороженное? :)<br>
        Мы оченЬ! :)<br>
        Попробуйте наше мороженое, Вы не останетесь равнодушными к нашей продукции! :)<br>
    Также у нас в ассортименте есть продукты глубокой заморозки, рыба и морепродукты, и много другое</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-6" style="padding: 70px;">
          <div class="card text-bg-light">
            <h4 class="card-header p-3 text-center">{{product_1.name_p}}</h4>
            <div class="card-body">
              <h1 class="text-center">{{product_1.price_by}}</h1>
              <div class="mb-3">
                <p class="card-text text-center">
                  {{product_1.description_p}}
                </p>
              </div>
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-primary" disabled>Купить</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6" style="padding: 70px;">
          <div class="card text-bg-light">
            <h4 class="card-header p-3 text-center">{{product_2.name_p}}</h4>
            <div class="card-body">
              <h1 class="text-center">{{product_2.price_by}}</h1>
              <div class="mb-3">
                <p class="card-text text-center">
                  {{product_2.description_p}}
                </p>
              </div>
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-primary" disabled>Купить</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4" style="padding: 70px; padding-bottom: 0px">
          <div class="card text-bg-light">
             <h4 class="card-header p-3 text-center">{{product_3.name_p}}</h4>
            <div class="card-body">
              <h1 class="text-center">{{product_3.price_by}}</h1>
              <div class="mb-3">
                <p class="card-text text-center">
                  {{product_3.description_p}}
                </p>
              </div>
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-primary" disabled>Купить</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4" style="padding: 70px; padding-bottom: 0px">
          <div class="card text-bg-light">
             <h4 class="card-header p-3 text-center">{{product_4.name_p}}</h4>
            <div class="card-body">
              <h1 class="text-center">{{product_4.price_by}}</h1>
              <div class="mb-3">
                <p class="card-text text-center">
                  {{product_4.description_p}}
                </p>
              </div>
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-primary" disabled>Купить</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4" style="padding: 70px; padding-bottom: 0px">
          <div class="card text-bg-light">
             <h4 class="card-header p-3 text-center">{{product_5.name_p}}</h4>
            <div class="card-body">
              <h1 class="text-center">{{product_5.price_by}}</h1>
              <div class="mb-3">
                <p class="card-text text-center">
                  {{product_5.description_p}}
                </p>
              </div>
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-outline-primary" disabled>Купить</button>
              </div>
            </div>
          </div>
        </div>
      </div>


    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                KODI Store
                <small class="d-block mb-3 text-muted">&copy; 2024</small>
            </div>
            <div class="col-6 col-md">
                <h5>Категории</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Рассылки</a></li>
                    <li><a class="text-muted" href="#">Телеграм боты</a></li>
                    <li><a class="text-muted" href="#">Полезные утилиты</a></li>
                    <li><a class="text-muted" href="#">Веб-приложения</a></li>
                    <li><a class="text-muted" href="#">Микросервисы</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Дополнительно</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Мы пишем</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>О нас</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="/contacts/">Контакты</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>