{% extends 'base.html' %}
{% load product_tags %}
{% block title %}Главная{% endblock %}

{% block content %}
<p class="lead pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">KODI store - это большой выбор продуктов питания.<br>
    Вы любите мороженное? :)<br>
    Мы очень! :)<br>
    Попробуйте наше мороженое, Вы не останетесь равнодушными к нашей продукции! :)<br>
Также у нас в ассортименте есть продукты глубокой заморозки, рыба и морепродукты, и много другое!<br>
Ждем Вас у нас за покупками! :)</p>
<div class="row">
    {% for product in products %}
    <div class="col-6" style="padding: 70px 70px 0;">
        <div class="card text-bg-light">
            <h4 class="card-header p-3 text-center">{{product.name_p}}</h4>
            <img src="{{ product.picture | media_filter }}" class="card-img-top" alt="..."  style="width:400px; height:400px; margin-left:14px">
              <div class="card-body" style="min-height: 232px">
                  <h1 class="text-center">{{product.price_by}} руб.</h1>
                  <div class="mb-3" style="min-height: 48px">
                    <p class="card-text text-center">
                      {{product.description_p|truncatechars:50}}
                    </p>
                  </div>
                  <div class="row">
                      <div class="col-9">
                          <a class="btn btn-link mb-1" href="{% url 'catalog:product' product.pk %}" role="button">Полное описание товара...>></a>
                      </div>
                      <div class="col-3">
                          {% if product.hit_sales %}
                          <div class="text-bg-success">Хит продаж!!!</div>
                          {% endif %}
                      </div>
                  </div>
                  <div class="d-grid gap-2">
                      <button type="button" class="btn btn-outline-primary" disabled>Купить</button>
                  </div>
              </div>
        </div>
    </div>
    {% endfor %}
    </div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-outline-primary mt-4" href="{% url 'catalog:adding_product' %}?next={{ request.path|urlencode }}" role="button">Добавить товар</a>
</div>
{% endblock %}
