<nav class="list-pages">
    <ul>
        {% if products.has_previous %}
        <li class="page-num">
            <a href="?page={{ products.previous_page_number }}">&lt;</a>
        </li>
        {% endif %}
        {% for p in paginator.page_range %}
                   {% if products.number == p %}
        <li class="page-num page-num-selected">{{ p }}</li>
                   {% elif p >= products.number|add:-2 and p <= products.number|add:2  %}
        <li class="page-num">
            <a href="?page={{ p }}">{{ p }}</a>
        </li>
                   {% endif %}
        {% endfor %}
        {% if products.has_next %}
        <li class="page-num">
            <a href="?page={{ products.next_page_number }}">&gt;</a>
        </li>
        {% endif %}
    </ul>
</nav>