{% extends 'base.html' %}
{% load product_tags %}
{% block title %}Информация о продукте {{ object.name_p }}{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Информация о продукте</h1>
</div>
<div class="col-lg-12 col-md-6 col-sm-12">
    <div class="card">
        <h2 class="card-header p-3 text-center">{{ object.name_p }}</h2>
        <img src="{{ product.picture | media_filter }}" class="card-img-top" alt="..." style="width:800px; height:800px; margin-left: 248px">
        <ul class="list-group list-group-flush">
            {% if product.hit_sales %}
            <li class="list-group-item text-bg-success">Хит продаж!</li>
            {% endif %}
            <li class="list-group-item">Цена: {{object.price_by}} руб.</li>
            <li class="list-group-item">Категория: {{object.category.name_c}}</li>
            <li class="list-group-item">Описание: {{object.description_p}}</li>
            {% if "catalog.can_unpublish_product" in perms %}
            <li class="list-group-item">Опубликован: {{ object.published|yesno:"Да,Нет" }}</li>
            {% endif %}
            <li class="list-group-item">Дата добавления: {{object.create_at|date:"d M Y"}}</li>
            <li class="list-group-item">Дата последнего изменения: {{object.updated_at|date:"d M Y"}}</li>
        </ul>
        {% if product.owner == user %}
        <a href="{% url 'catalog:editing_product' object.pk %}?next={{ request.GET.next }}" class="btn btn-outline-primary m-2 text-center" role="button" style="max-width: 255px;">
            Редактировать</a>
        {% endif %}
        {% if "catalog.can_unpublish_product" in perms %}
        <form action="{% url 'catalog:published_product' object.pk %}?next={{ request.GET.next }}" method="post">
        {% csrf_token %}
            <button class="btn btn-outline-success m-2 col-6 text-center" type="submit" style="max-width: 255px;">
            Опубликовать</button>
        </form>
        {% endif %}
        {% if "catalog.delete_product" in perms or product.owner == user%}
        <a href="{% url 'catalog:deleting_product' object.pk %}?next={{ request.GET.next }}" class="btn btn-outline-danger m-2 text-center" role="button" style="max-width: 255px;">
            Удалить</a>
        {% endif %}
    </div>
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a class="btn btn-outline-primary mt-4" href="{{ request.GET.next }}" role="button" style="max-width: 215px;"><<...Вернуться к каталогу</a>
</div>
{% endblock %}
